* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
   color: white;
   font-family: sans-serif;
}

.app
{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.head{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.location{
   font-size: 40px;
}

.description{
   font-size: 20px;
}

.degree{
   display: flex;
   align-items: center;
   margin: 10px;
}

.degree-number{
   font-size: 60px;
}

.degree span{
   font-size: 45px;
}

.details{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px;
}

form{
   margin-top: 30px;;
   display: flex;
   flex-direction: column;
   align-items: center;
}

button,input{
   margin: 5px;
   padding: 10px;
   font-size: 16px;
   width: 200px;
}

button{
   background-color: #c47a0c;
   color: white;
   font-weight: bold;
   outline: none;
   border-radius: 7px;
}